<% include ../../../partials/header %>
<div class="container" style="width: 66.667%;>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                
                <div class="caption-full">
                    <h3><%= hawkesBayRegionOffer.title %></h3>
                    <p>Details: <%= hawkesBayRegionOffer.body %></p>
                    <p>Contact email: <%= hawkesBayRegionOffer.contactEmail %></p>
                    <p>Other contact information: <%= hawkesBayRegionOffer.otherContact %></p>
                    <p>Hourly rate: $<%= hawkesBayRegionOffer.hourlyRate %>/hour</p>
                    
                    <p><em>Submitted by <%= hawkesBayRegionOffer.author.username %></em></p>
                    <% if(currentUser && hawkesBayRegionOffer.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/askOffer/hawkesBayRegion/offer/<%= hawkesBayRegionOffer._id %>/edit">Edit</a>
                        <form id="delete-form" action="/askOffer/hawkesBayRegion/offer/<%= hawkesBayRegionOffer._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class= "text-right">
                    <a class="btn btn-xs btn-success" href="/askOffer/hawkesBayRegion/offer/<%= hawkesBayRegionOffer._id %>/hawkesBayRegionOfferComments/new/">Add comment</a>
                </div>
                <hr>
                <% hawkesBayRegionOffer.comments.reverse().forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= Date();%></span>
                            <p>
                                <%= comment.text %>
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                                href="/askOffer/hawkesBayRegion/offer/<%= hawkesBayRegionOffer._id %>/hawkesBayRegionOfferComments/<%= comment._id %>/edit">
                                Edit
                            </a>
                            <form id="delete-form" action="/askOffer/hawkesBayRegion/offer/<%= hawkesBayRegionOffer._id %>/hawkesBayRegionOfferComments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
            
            <div class= "text-right">
                    <a class="btn btn-info" href="/askOffer/hawkesBayRegion/offer/">Return to all offers</a>
            </div>
        </div>
    </div>
</div>
<% include ../../../partials/footer %>