<% include ../../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><a><%= nelsonMarlboroughRegionAsk.title %></a></h4>
                    <p><%= nelsonMarlboroughRegionAsk.body %></p>
                    <p>
                        <em>Submitted by <%= nelsonMarlboroughRegionAsk.author.username %></em>
                    </p>
                    <% if(currentUser && nelsonMarlboroughRegionAsk.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/askOffer/nelsonMarlboroughRegion/ask/<%= nelsonMarlboroughRegionAsk._id %>/edit">Edit</a>
                        <form id="delete-form" action="/askOffer/nelsonMarlboroughRegion/ask/<%= nelsonMarlboroughRegionAsk._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <a class="btn btn-primary btn-sm btn-block" href="#">Send email</a>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class= "text-right">
                    <a class="btn btn-xs btn-success" href="/askOffer/nelsonMarlboroughRegion/ask/<%= nelsonMarlboroughRegionAsk._id %>/nelsonMarlboroughRegionAskComments/new/">Add comment</a>
                </div>
                <hr>
                <% nelsonMarlboroughRegionAsk.comments.reverse().forEach(function(nelsonMarlboroughRegionAskComment){ %>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong><%= nelsonMarlboroughRegionAskComment.author.username %></strong>
                            <span class="pull-right"><%= Date();%></span>
                            <p>
                                <%= nelsonMarlboroughRegionAskComment.text %>
                            </p>
                        <% if(currentUser && nelsonMarlboroughRegionAskComment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                                href="/askOffer/nelsonMarlboroughRegion/ask/<%= nelsonMarlboroughRegionAsk._id %>/nelsonMarlboroughRegionAskComments/<%= nelsonMarlboroughRegionAskComment._id %>/edit">
                                Edit
                            </a>
                            <form id="delete-form" action="/askOffer/nelsonMarlboroughRegion/ask/<%= nelsonMarlboroughRegionAsk._id %>/nelsonMarlboroughRegionAskComments/<%= nelsonMarlboroughRegionAskComment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
            
            <div class= "text-right">
                    <a class="btn btn-info" href="/askOffer/nelsonMarlboroughRegion/ask/">Return to all asks</a>
            </div>
        </div>
    </div>
</div>
<% include ../../../partials/footer %>