<% include ../../../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= westCoastRegionAsk.name %></h1>
        <div style="width: 66.667%; margin: 25px auto;">
            <form action="/askOffer/westCoastRegion/ask/<%= westCoastRegionAsk._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" type="text" name="westCoastRegionAsk[title]" value="<%= westCoastRegionAsk.title %>">
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea class="form-control" rows="10" name="westCoastRegionAsk[body]"><%= westCoastRegionAsk.body %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/askOffer/westCoastRegion/ask/<%= westCoastRegionAsk._id %>">Go Back</a>
        </div>
    </div>
</div>
<% include ../../../partials/footer %>