<% include ../../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><a><%= southlandRegionOffer.title %></a></h4>
                    <p><%= southlandRegionOffer.body %></p>
                    <p>
                        <em>Submitted by <%= southlandRegionOffer.author.username %></em>
                    </p>
                    <% if(currentUser && southlandRegionOffer.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/askOffer/southlandRegion/offer/<%= southlandRegionOffer._id %>/edit">Edit</a>
                        <form id="delete-form" action="/askOffer/southlandRegion/offer/<%= southlandRegionOffer._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <a class="btn btn-primary btn-sm btn-block" href="#">Send email</a>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class= "text-right">
                    <a class="btn btn-xs btn-success" href="/askOffer/southlandRegion/offer/<%= southlandRegionOffer._id %>/southlandRegionOfferComments/new">Add comment</a>
                </div>
                <hr>
                <% southlandRegionOffer.comments.reverse().forEach(function(southlandRegionOfferComment){ %>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong><%= southlandRegionOfferComment.author.username %></strong>
                            <span class="pull-right"><%= Date.now();%></span>
                            <p>
                                <%= southlandRegionOfferComment.text %>
                            </p>
                        <% if(currentUser && southlandRegionOfferComment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                                href="/askOffer/southlandRegion/offer/<%= southlandRegionOffer._id %>/southlandRegionOfferComments/<%= southlandRegionOfferComment._id %>/edit">
                                Edit
                            </a>
                            <form id="delete-form" action="/askOffer/southlandRegion/offer/<%= southlandRegionOffer._id %>/southlandRegionOfferComments/<%= southlandRegionOfferComment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
            
            <div class= "text-right">
                    <a class="btn btn-info" href="/askOffer/southlandRegion/offer/">Return to all offers</a>
            </div>
        </div>
    </div>
</div>
<% include ../../../partials/footer %>