<% include ../../partials/header %>

<div class="container">
    <header class="jumbotron malefashionjumbotron">
       <div class="container">
           <h1>Male Fashion</h1> 
           <p>
               <a class="btn btn-primary btn-lg" href="fashionMale/new">Add a new topic</a>
           </p>
           <p>
               <form action="/uniTalk/fashionMale" method="get" class="form-inline"> <!--check the route is correct-->
                   <div class="form-group">
                       <input type="text" name="search" placeholder="Male Fashion Unitalk Search" class="form-control">
                       <input type="submit" value="search" class="btn btn-info">
                   </div>
               </form>
           </p>
       </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <% if(noMatch !== null) { %>
            <h4><%= noMatch %></h4>
            <p>
               <form action="/uniTalk/fashionMale" method="get" class="form-inline"> <!--check the route is correct-->
                   <div class="form-group">
                       <input type="text" name="search" placeholder="Male Fashion Unitalk Search" class="form-control">
                       <input type="submit" value="search" class="btn btn-info">
                   </div>
               </form>
           </p>
            <% } %>
        </div>
        <% fashionMale.reverse().forEach(function(fashionMale){ %>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= fashionMale.image %>">
                    <div class="caption">
                        <h4><%= fashionMale.title %></h4>
                    </div>
                    <div class="description">
                        <p><%- fashionMale.body.substring(0, 100) %>...</p>
                    </div>
                    <p>
                        <a href="/uniTalk/fashionMale/<%= fashionMale._id %>" class="btn btn-primary">Read topic</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>    
</div>

<% include ../../partials/footer %>