<% include ../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= partTimeWork.image %>">
                <div class="caption-full">
                    <h4><a><%= partTimeWork.title %></a></h4>
                    <p><%= partTimeWork.body %></p>
                    <p>
                        <em>Submitted by <%= partTimeWork.author.username %></em>
                    </p>
                    <% if(currentUser && partTimeWork.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/uniTalk/partTimeWork/<%= partTimeWork._id %>/edit">Edit</a>
                        <form id="delete-form" action="/uniTalk/partTimeWork/<%= partTimeWork._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class= "text-right">
                    <a class="btn btn-xs btn-success" href="/uniTalk/partTimeWork/<%= partTimeWork._id %>/partTimeWorkComments/new">Add comment</a>
                </div>
                <hr>
                <% include ../../partials/uniTalk/partTimeWorkComment %>
            </div>
            <div class= "text-right">
                    <a class="btn btn-success" href="/uniTalk/partTimeWork/">Return to all topics</a>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>