<% include ../../../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= centralOtagoOffer.title %></h1>
        <div style="width: 66.667%; margin: 25px auto;">
            <form action="/askOffer/centralOtago/offer/<%= centralOtagoOffer._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label>What are you offering?</label>
                    <input class="form-control" type="text" name="centralOtagoOffer[title]" value="<%= centralOtagoOffer.title %>">
                </div>
                <div class="form-group">
                    <label>Describe the details:</label>
                    <textarea class="form-control" rows="10" name="centralOtagoOffer[body]"><%= centralOtagoOffer.body %></textarea>
                </div>
                <div class="form-group">
                    <label>What is your contact email? (Required)</label>
                    <input class="form-control" type="text" name="centralOtagoOffer[contactEmail]" value="<%= centralOtagoOffer.contactEmail %>">
                </div>
                <div class="form-group">
                    <label>How else can you be contacted? (Optional)</label>
                    <input class="form-control" type="text" name="centralOtagoOffer[otherContact]" value="<%= centralOtagoOffer.otherContact %>">
                </div>
                <div class="form-group">
                   <label>What is the hourly rate for your offer? (enter $0 if N/A)</label>
                   <input style="width: 33.333%" class="form-control" type="number" name="centralOtagoOffer[hourlyRate]" value="<%= centralOtagoOffer.hourlyRate %>" min="0.00" step="0.50"> 
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/askOffer/centralOtago/offer/<%= centralOtagoOffer._id %>">Go Back</a>
        </div>
    </div>
</div>
<% include ../../../partials/footer %>