<% include ../../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><a><%= coastalOtagoOffer.title %></a></h4>
                    <p><%= coastalOtagoOffer.body %></p>
                    <p>
                        <em>Submitted by <%= coastalOtagoOffer.author.username %></em>
                    </p>
                    <% if(currentUser && coastalOtagoOffer.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/askOffer/coastalOtago/offer/<%= coastalOtagoOffer._id %>/edit">Edit</a>
                        <form id="delete-form" action="/askOffer/coastalOtago/offer/<%= coastalOtagoOffer._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <a class="btn btn-primary btn-sm btn-block" href="#">Send email</a>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class= "text-right">
                    <a class="btn btn-xs btn-success" href="/askOffer/coastalOtago/offer/<%= coastalOtagoOffer._id %>/coastalOtagoOfferComments/new">Add comment</a>
                </div>
                <hr>
                <% coastalOtagoOffer.comments.reverse().forEach(function(coastalOtagoOfferComment){ %>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong><%= coastalOtagoOfferComment.author.username %></strong>
                            <span class="pull-right"><%= Date.now();%></span>
                            <p>
                                <%= coastalOtagoOfferComment.text %>
                            </p>
                        <% if(currentUser && coastalOtagoOfferComment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                                href="/askOffer/coastalOtago/offer/<%= coastalOtagoOffer._id %>/coastalOtagoOfferComments/<%= coastalOtagoOfferComment._id %>/edit">
                                Edit
                            </a>
                            <form id="delete-form" action="/askOffer/coastalOtago/offer/<%= coastalOtagoOffer._id %>/coastalOtagoOfferComments/<%= coastalOtagoOfferComment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
            
            <div class= "text-right">
                    <a class="btn btn-info" href="/askOffer/coastalOtago/offer/">Return to all offers</a>
            </div>
        </div>
    </div>
</div>
<% include ../../../partials/footer %>