                <% career.comments.reverse().forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong><%= career.author.username %></strong>
                            <span class="pull-right"><%= %></span>
                            
                            <p>
                                <%= comment.text %>
                            </p>
                            
                        <% if(currentUser && career.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                                href="/uniTalk/career/<%= career._id %>/careerComments/<%= comment._id %>/edit">
                                
                                Edit
                            </a>
                            <form id="delete-form" action="/uniTalk/career/<%= career._id %>/careerComments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }); %>
            